@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --color-redDark: #E84855;
    --color-backgroundLight: #ffffff;
    --color-backgroundDark: #1a1a1a; 
    --color-textLight: #333333; 
    --color-textDark: #f0f0f0;
}




html, body, #root{
    width: 100vw;
    height: 100vh;
}